// app global css in SCSS form
@import './quasar.variables.scss';

.q-item.q-router-link--active,
.q-item--active {
  background-color: $light-exact-background !important;
  color: $primary !important;
}

.material-symbols-outlined {
  font-weight: 300;
}

.digit {
  font-family: 'Noto Sans Mono', monospace;
}

.leading-0 {
  line-height: normal !important;
}

.q-field {
  font-size: 13px;
}

.q-placeholder {
  &::placeholder {
    color: rgba($color: #000000, $alpha: 0.45);
  }
}



.q-field--borderless {
  border-radius: 4px;
  background-color: rgba($color: #000000, $alpha: 0.05) !important;
  transition: .2s;

  .q-placeholder {
    padding-left: 12px;
    padding-right: 12px;
  }

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.1) !important;
  }
}

.q-field--borderless.q-field--focused {
  background-color: rgba($color: #000000, $alpha: 0.1) !important;
}

.q-field__native,
.q-field__prepend {
  padding-left: 12px !important;
  padding-right: 0 !important;
}


.modified-icon-input {
  .q-field__native {
    padding-left: 6px !important;
    padding-right: 12px !important;
  }

  .q-field__label {
    padding-left: 8px !important;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #1976d2;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.q-btn__content {
  font-size: 12px;
}

.q-menu {
  .q-virtual-scroll__content {
    padding: 6px;

    .q-item {
      min-height: 36px;
      padding: 8px 10px;
      border-radius: 3px;

      .q-focus-helper {
        opacity: .10;
      }

      .q-item-label {
        font-size: 12px;
      }

    }
  }

}
